
body{
    background:  #E5E5E5;
    overflow-x: hidden;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: #00aacc;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #00bfe6;
  }

/*~~~~~~~~~~~~~~~~~~~~~~START OF NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~*/
b.brand{
    color: #008AA7;
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}



.nav-item a, i {
    color: #5E949F;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.06em;
}

.navbar li:hover{
    cursor:pointer;
    color: black;
}



.nav-item a:hover {
    color: black;
}

.fa-magnifying-glass:hover{
    color: black !important;
}


/*Icons*/  

.cart{
    background: #008AA7;
    color: white;
}


.cart:hover{
    background: #00d5ff;
    color: white;
}
.fa-cart-shopping{
    color: white;
}

.location{
    background: #9DCBD5;
    color: white;
}

.fa-location-dot{
    color: white;
}

/*~~~~~~~~~~~~~~~~~~~~~~END OF NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~~~~~~~~START OF SECTION TWO ~~~~~~~~~~~~~~~~~~~~~~~~*/
.maintxt > img, .overlay-text {
    position: absolute;
}

/* Carousel */


.sectionTwo span.content{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 90px;
    top: 380px;
    left: 190px;
   
}

.home{
    color:#008AA7;
}

.details{
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: 30px;
    line-height: 48px;
    top: 520px;
    left: 90px;
}

.learnmore,.fa-arrow-right{
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    top: 650px;
    left: 90px;
    line-height: 26px;
    color: #008AA7;
}

.pagenumber{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-size: 16px;
    top: 830px;
    left: 90px;
    line-height: 26px;
    color: #008AA7;
    transform: rotate(-90deg);
    transform-origin: left top 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~END OF SECTION TWO ~~~~~~~~~~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~~~~~~~~START OF SECTION THREE ~~~~~~~~~~~~~~~~~~~~~~~~*/
.One{
    padding-top: 100px;
}

.sectionThree{
    height: 722px;
    background-repeat: no-repeat; 
    background-size: cover;
    padding-top: 20px;
}

.Two{
    background: #F2F8FB;
    height: 100%;
}

.separator {
    text-align: right;
    height: 1em;
    border-bottom: 2px solid #CDCDCD;
    font-family: 'Heebo', sans-serif;
    width: 20%;
}
.separator:first-line {
    background: #F2F8FB;
}

.TwoParagraph{
    padding-top: 100px;
    margin:5%;

}

.TwoParagraph h1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 62px;
    line-height: 61px; 
    color: #93AEB3;
    padding-top: 10px;
}

.TwoParagraph p.details{
    font-family: Heebo;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;    
    color: #151515;
    padding-top: 10px;
}

.TwoParagraph p.learnmore{
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px; 
    color: #008AA7;
    padding-top: 20px;
    border: 2px solid red;
}


/*~~~~~~~~~~~~~~~~~~~~~~END OF SECTION THREE ~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~START OF SECTION FOUR ~~~~~~~~~~~~~~~~~~~~~~~~*/
.sectionFour{
    padding: 2%;
    margin: 2%;
}

.sectionFour  .separator {
    text-align: right;
    height: .8em;
    border-bottom: 2px solid   #CDCDCD ;
    font-family: 'Heebo', sans-serif;
    width: 12%;
}
.sectionFour  .separator:first-line {
    background-color:  #E5E5E5;
}


.row h1.choose{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 62px;
    line-height: 61px;
    color: #93AEB3;
    padding-top: 3%;
}

.sectionFour p.home{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 62px;
    line-height: 61px;
    color:#008AA7;
}

.sectionFour p.details{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
}


/*~~~~~~~~~~~~~~~~~~~~~~END OF SECTION FOUR ~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~START OF SECTION FIVE ~~~~~~~~~~~~~~~~~~~~~~~~*/


.row .OneSectionFive {
   padding-top: 100px;
   margin-left:-17px;

}

.row .OneSectionFiveImage {
   padding-top: 100px;
   margin-left:-17px;
   height: 722px;
}


.row .TwoSectionFive {
    
    height: 700px;
    margin-right:-17px;
    margin-left: -11px;
    margin-bottom: 120px;
    background: #008AA7;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 53px;
    color: #FFFFFF;
    padding-top: 280px;
    padding-left: 50px;
}

 p.text-details {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
    padding-top: 25px;
    
}

span.view , span.fa-arrow-right{
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #CCEBF2;
    padding-top: 40px;
}


button.sectionFive {
    height: 104px;
    background-color: #9DCBD5;
    margin-left: 510px;
    margin-top: 100px;
}


button.sectionFiveSecond{
    width: 97px;
    height: 104px;
    background-color: #9DCBD5;
    margin-left: 735px;
    margin-top: 100px;
 
}

button.sectionFiveThird{
    width: 97px;
    height: 104px;
    background-color: #9DCBD5;
    margin-right: 590px;
    margin-top: 100px;
    
 
}
 
/*~~~~~~~~~~~~~~~~~~~~~~END OF SECTION FIVE ~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~START OF SECTION SIX ~~~~~~~~~~~~~~~~~~~~~~~~*/
.sectionSix{
    padding: 2%;
    margin: 2%;
}


.sectionSix h1.choose{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 62px;
    line-height: 61px;
    padding-top: 3%;
}

.sectionSix p.ideal{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 62px;
    line-height: 61px;
    color:#008AA7;
}

.sectionSix p.details{
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: 26px;
    line-height: 42px;
    color: #151515;
}

.sectionSix p.tryNow, .fa-arrow-right {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color:#008AA7;
}



/*~~~~~~~~~~~~~~~~~~~~~~END OF SECTION SIX ~~~~~~~~~~~~~~~~~~~~~~~~*/





/*~~~~~~~~~~~~~~~~~~~~~~START OF SECTION SEVEN ~~~~~~~~~~~~~~~~~~~~~~~~*/

.row .OneSectionSeven {
    margin-top: 120px;
    margin-left: -10px;
    font-family: Lato;
    padding: 30px;
    background: #008AA7;
    font-style: normal;
    font-weight: 900;
    font-size: 62px;
    line-height: 61px;
    color: #FFFFFF;
    
 }

 .OneSectionSeven .separatorSectionSeven{
    margin-top: 120px;
    margin-left: 100px;
    margin-bottom:50px;
    font-size: .2em;
    color: #9DCBD5;
    width: 20%;
    text-align: right;
    height: 2.5em;
    border-bottom: 3px solid white;
    font-family: 'Heebo', sans-serif;
    position: relative;
 }

 .OneSectionSeven .separatorSectionSeven:first-line {
    background-color: #008AA7;
}

 
 .OneSectionSeven div{
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
 }

 
 .row .TwoSectionSeven {
    margin-bottom: 120px;
   height: 722px;
    
 }

 .row .TwoSectionSevenImage {
    margin-left:-12px;
   height: 722px;
 }
 


 .OneSectionSeven p.text-details {
     font-family: 'Heebo', sans-serif;
     font-weight: 300;
     font-size: 16px;
     line-height: 30.55px;
     padding-top: 25px;
     
 }
 
 button.sectionSeven {
     height: 104px;
     background-color: #9DCBD5;
     color:white;
     margin-left: 754px;
     margin-top: 617px;
 }
 
 
 button.sectionSevenSecond{
     width: 97px;
     height: 104px;
     background-color: #9DCBD5;
     margin-left: 560px;
     margin-top: 617px;
  
 }
 
 button.sectionSevenThird{
     width: 97px;
     height: 104px;
     background-color: #9DCBD5;
     margin-right: 765px;
     margin-top: 617px;
  
 }

 /*~~~~~~~~~~~~~~~~~~~~~~END OF SECTION SEVEN ~~~~~~~~~~~~~~~~~~~~~~~~*/


 /*~~~~~~~~~~~~~~~~~~~~~~START OF SECTION EIGHT ~~~~~~~~~~~~~~~~~~~~~~~~*/
 .sectionEight{
    padding: 2%;
    margin: 2%;
}

.sectionEight .separator {
    text-align: right;
    height: 1em;
    border-bottom: 1px solid #CDCDCD;
    font-family: 'Heebo', sans-serif;
    width: 14%;
}
.separator:first-line {
    background-color: #E5E5E5;
}


.sectionEight h1.choose{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 62px;
    line-height: 61px;
    color: black;
    padding-top: 3%;
}

.sectionEight p.ideal{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 62px;
    line-height: 61px;
    color:#008AA7;
}

.sectionEight p.details{
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
}

.sectionEight p.browse{
     font-family: 'Assistant', sans-serif;
     font-weight: 700;
     font-size: 20px;
     line-height: 26px;    
     color: #008AA7;
}


 /*~~~~~~~~~~~~~~~~~~~~~~END OF SECTION EIGHT ~~~~~~~~~~~~~~~~~~~~~~~~*/



  /*~~~~~~~~~~~~~~~~~~~~~~START OF SECTION NINE ~~~~~~~~~~~~~~~~~~~~~~~~*/
div.sectionNine{
 height: 550px;
 margin-bottom: 110px;

}

.row div.sectionNineColOne{
   height: 429px;
}

.row div.sectionNineColTwo{
    background: #F2F8FB;
    padding: 50px 0;

}

div.sectionNineColTwo div{
   margin:25px;
}


div.sectionNineColTwo h6{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #93AEB3;
}

div.sectionNineColTwo p{
    font-family: Heebo;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    
    
}


.sectionNineColTwo p.tryNow{
    font-family: 'Assistant', sans-serif;   
   font-weight: 700;
   font-size: 20px;
   line-height: 26px;
   color:#008AA7;
}


button.sectionNine {
    height: 104px;
    background-color: #9DCBD5;
    color:white;
    margin-left: 754px;
    margin-top: 617px;
}

button.sectionNineSecond{
    width: 97px;
    height: 104px;
    background-color: #9DCBD5;
    margin-left: 760px;
    margin-top: -50px;
 
}

button.sectionNineThird{
    width: 97px;
    height: 104px;
    background-color: #9DCBD5;
    margin-right: 566px;
    margin-top: -50px;
 
}

 /*~~~~~~~~~~~~~~~~~~~~~~END OF SECTION NINE ~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~START OF SECTION TEN ~~~~~~~~~~~~~~~~~~~~~~~~*/

footer div.container{
  padding: 5%;
   
}
.col-lg-2 div.home{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;    
    color: #FFFFFF;
    margin:5%;
    padding: 50px 0;
    text-align: center;
}

footer .separator {
    text-align: right;
    height: .8em;
    border-bottom: 2px solid white;
    font-family: 'Heebo', sans-serif;
    width: 75%;
}

footer .separator:first-line {
    background-color: #008AA7;
}

footer li a {
    font-family: Heebo;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 0.06em;

    color: #CCEBF2;
    text-decoration: none;
}


  /*~~~~~~~~~~~~~~~~~~~~~~END OF SECTION TEN ~~~~~~~~~~~~~~~~~~~~~~~~*/


  /*~~~~~~~~~~~~~~~~~~~~Media Responsivness~~~~~~~~~~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~~~~~~Media Responsivness~~~~~~~~~~~~~~~~~~~~~~~~*/



/* Iphone SE - Samsung Galaxy S20 Ultra */
@media (max-width:700px) {
    /* Carousel */
    /* Section Two */

    .carousel-inner{
        height: 220px;
    }

    
    .sectionTwo span.content{
        font-size: 20px;
        left: 40px;
        top: 100px;
        line-height: 20px;
    }
       
    .details{
        font-size: 9px;
        top: 35px;
        left: -60px;
    }
    
    .learnmore,.fa-arrow-right{
        font-size: 8px;
        top: 55px;
    }
    
    .pagenumber{
        font-size: 5px;
        top: 220px;
        left: 2px; 
    }



    .sectionTwo span.details{
        font-size: 8px;
        left: -54px;
       
    }

    .sectionTwo .learnmore {
        font-size: 10px;
        top: 70px;
        left: -54px;

    }

    .sectionTwo span.pagenumber{
        margin-top: -10px;
        margin-left: 3px;
    }

    /*Section Three*/
    .One{
        padding-top: 50px;

    } 

    .separator {
        font-size: 15px;
        font-size: 5px;
        width: 30%;
    }


    .TwoParagraph {
        padding-top: 9px;
        padding-bottom: -2px;
    }

    .TwoParagraph h1{
        font-size: 15px;
        line-height: 20px; 
    }
    
    .TwoParagraph p.details{
        font-size: 5px;
        line-height: 10px;   
        padding-top: 3px; 
    
    }

    /*Section Three */

    .sectionThree{
        height: 422px !important;
        background-repeat: no-repeat; 
        background-size: cover;
        padding-top: 20px;
    }

    
    .separator {
       
        font-size: 10px !important;
        width: 50% !important;
    }
   

    .TwoParagraph h1{
       
        font-size: 31px;
    }

    .TwoParagraph p.details{
      
        font-size: 10px !important;
        line-height: 10px !important;    
       
        padding-top: 10px;
    }
    
    /*Section Four */


    .sectionFour  .separator {
        margin-top: 40px;
        font-size: 10px;
        width: 30%;
    }
    .row h1.choose{
       font-size: 31px;
       
    }
    
    .sectionFour p.home{
        font-size: 31px;
        line-height: 2px; 
    }

    .sectionFour p.details{
        font-size: 16px;
    }

    /*Section Five */
   

    .row .OneSectionFive {
        padding-top: 10px;
        margin-left:-17px;
        margin-right:-1px;
        height: 200px;
        position: relative;
    }
     
    .row .OneSectionFiveImage {
        padding-top: 50px;  
        background-size: contain;   
        height: 200px;
    }

    .row .TwoSectionFive {
        font-size: 12px;
        padding-left: 8px;
        padding: 20px;
        width: 35%;
        padding-bottom: 2px;
        height: 300px;
    }


    p.text-details {
        font-size: 6px;
        line-height: 10px;
        padding-top: 1px;
        padding-left: 1px;
        padding-right:10px;
       
    }

    span.view , span.fa-arrow-right{
        font-size: 10px;
        padding-top: -17px;
        
    }
    

    /*Button for the Second Carousel*/
    
    
    /*Button for View Products*/
    button.sectionFive{
        width: 50px;
        height: 20px;
        margin-left: 124px;
        margin-top: 10px;
        font-size: 5px;
    
    }

    /*Button for Left [Previous]*/
    button.sectionFiveSecond{
        width: 20px;
        height: 20px;
        margin-left: 173px;
        margin-top: 10px;
        font-size: 5px;
        
    }

    /*Button for Right [Next]*/
    button.sectionFiveThird{
        width: 20px;
        height: 20px;
        margin-left: 193px;
        margin-top: -210px;
        font-size: 5px;
        position:relative;
     
    }

    /*Section Six */
    div.sectionSix {
        margin-top: 25%;
        
    }

    .sectionSix h1.choose{
        margin-top: 10%;
        padding-top: 12%;
        font-size: 31px;   
        line-height: 30px;
        
    }
    .sectionSix p.ideal{
        font-size: 32px;
        line-height: 30px;
    }
    
    .sectionSix p.details{
        padding-top: 12px;
  
       
    }
    
    /*Section Seven */
    .row .OneSectionSeven {
        margin-top: 30px;
        margin-left:-17px;
        width: 50%;
        position: relative;
        height: 202px;
     }
    
    .OneSectionSeven .separatorSectionSeven{
        margin-top: 1px;
        margin-left: 10px;
        margin-bottom:50px;
        font-size: .1em;
        width: 50%;
        height: 5em;
    }


    .row .TwoSectionSevenImage {
        height: 422px;
        margin-bottom: 20px;
        background-size: contain;  
        position: relative; 
    }

  

    .OneSectionSeven div.content {
        font-size: 20px;
        line-height: 15px;
        margin-top: -20%;
        margin-left: 12%;
        width: 100%;
        position: relative;
       
    }
    .OneSectionSeven p.text-details   {
        font-size: 8px;
        line-height: 10px;
        padding-top: 8px;
        padding-left: 1px;
        padding-right:10px;  
    }

  


    /*Button for the Third Carousel*/
    
    /*Button for View Products*/
    button.sectionSeven{
        width: 50px;
        height: 20px;
        margin-left: 179px;
        margin-top: -40px;
        font-size: 5px;
        position: relative;
    }

    /*Button for Left [Previous]*/
    button.sectionSevenSecond{
        width: 20px;
        height: 20px;
        margin-left: 140px;
        margin-top: -20px;
        font-size: 5px;
        position: relative;
    }

    /*Button for Right [Next]*/
    button.sectionSevenThird{
        width: 20px;
        height: 20px;
        margin-left: 160px;
        margin-top: -20px;
        font-size: 5px;
        position: relative;
    }

    /* Section 8 */

    .sectionEight{
       padding-top:20px;
    }

    .sectionEight .separator {
        text-align: right;
        font-size: 10px;
        height: 1em;
        width: 30%;
    }
   
    
    .sectionEight h1.choose, .sectionEight p.ideal{
        font-size: 31px;  
    }
    

    .sectionEight p.details{
        font-size: 16px;
        line-height: 31px;
    }
    
    
    /*Section Nine */

    div.sectionNine{
        height: 230px;
        margin-bottom: 100px;
        position: relative;
        width: 100%;
    }
    

    .row div.sectionNineColOne{
        background-size: contain;  
        height: 329px;
        background-position: center;
        width: 100%;
    }
    
    .row div.sectionNineColTwo{
        padding: 0px 0;
        position: relative;
        
    }
    
    div.sectionNineColTwo h6{
        font-size: 10px;
    }
    
    div.sectionNineColTwo p{
        font-size: 5px;
    }
    
    button.sectionNineSecond{
        width: 20px;
        height: 20px;
        margin-left: 187px;
        margin-top: -220px;
        font-size: 5px;
        position: relative;
     
    }
    
    button.sectionNineThird{
        width: 20px;
        height: 20px;
        margin-left: 207px;
        margin-top: -20px;
        font-size: 5px;
        position: relative;
     
    }


    footer .separator {
        text-align: left;
        height: .8em;
        border-bottom: 2px solid white;
        font-size: 17px !important;
        width: 100% !important;
    }
    
   
    footer li a {
        font-size: 20px !important;
        line-height: 31px;
        
    }
}


/* Ipad Air -  Surface Pro 7 */
@media (min-width: 768px) and (max-width: 912px) {
    .sectionTwo span.content{
        font-size: 50px;
        left: 80px;
        top: 200px;
     
    }
       
    .details{
        top: 230px;
      
        left: -15px;
        font-size: 20px;
    }
    
    .learnmore,.fa-arrow-right{
        top: 340px;
      
        left: -15px;

    }
    
    .pagenumber{
        font-size: 5px;
        top: 500px;
        left: 30px; 
    }

    /*Section Three*/
    .One{
        padding-top: 50px;

    } 

    .separator {
  

        width: 30%;
    }


    .TwoParagraph {
        padding-top: 9px;
        padding-bottom: -2px;
    }

    .TwoParagraph h1{
        font-size: 40px;
        line-height: 30px; 
    }
    
    .TwoParagraph p.details{
        font-size: 20px;
        line-height: 19px;   
        padding-top: 3px; 
    
    }

    /*Section Four */


    .sectionFour  .separator {
        margin-top: 40px;
        font-size: 20px;
        width: 30%;
    }

    /*Section Six */
    div.sectionSix {
        margin-top: 10%;
        
    }

    .sectionSix h1.choose{
        margin-top: 1%;
        padding-top: 12%;
        font-size: 31px;   
        line-height: 30px;
        
    }
    .sectionSix p.ideal{
        font-size: 32px;
        line-height: 30px;
    }
    
    .sectionSix p.details{
        padding-top: 12px;
  
       
    }
 
    /* Section Eight */

    .sectionEight{
        padding-top:20px;
     }
 
    .sectionEight .separator {
        text-align: right;
        font-size: 20px;
        height: 1em;
        width: 30%;
    }

    /*Section Ten */
    footer .separator {
        text-align: left;
        height: .8em;
        border-bottom: 2px solid white;
        font-size: 20px;
        width: 100%;
    }
    
   
    footer li a {
        font-size: 20px !important;
        line-height: 31px;
        
    }

     
}


/* Surface Duo , Samsung Galaxy A51/71 */
@media (min-width: 280px) and (max-width: 540px) {
    .sectionTwo span.content{
        font-size: 30px;
        left: 40px;
        top: 100px;
    }
       
    .details{
        top: 40px;
      
        left: 90px;
        font-size: 20px;
       
    }
    

    .pagenumber{
        font-size: 5px;
        top: 500px;
        left: 30px; 
    }

    /*Section Three*/
    .One{
        padding-top: 50px;

    } 

    .separator {
  
        width: 30%;
    }


    .TwoParagraph {
        padding-top: 9px;
        padding-bottom: -2px;
    }

    .TwoParagraph h1{
        font-size: 20px;
        line-height: 30px; 
    }
    
    .TwoParagraph p.details{
        font-size: 15px;
        line-height: 19px;   
        padding-top: 3px; 
    
    }

    /*Section Four */


    .sectionFour  .separator {
        margin-top: 60px;
        font-size: 10px;
        width: 30%;
    }

    /*Section Six */
    div.sectionSix {
        margin-top: 6% !important;
    }

    .sectionSix h1.choose{
        margin-top: 6%;
        padding-top: 12%;
        font-size: 31px;   
        line-height: 30px;
        
    }
    .sectionSix p.ideal{
        font-size: 32px;
        line-height: 30px;
    }
    
    .sectionSix p.details{
        padding-top: 12px;
  
       
    }
 
    /* Section Eight */

    .sectionEight{
        padding-top:20px;
     }
 
    .sectionEight .separator {
        text-align: right;
        font-size: 15px;
        height: 1em;
        width: 30%;
    }

}


/*  Galaxy Fold */
@media (min-width: 280px) and (max-width: 281px) {
    .sectionTwo span.content{
        left: 35px;
        top: 60px;
       
        font-size: 15px;
    }
       
    .details{
        top: 10px;
        left: -60px !important;
        font-size: 25px;
        line-height: 10px;
   
       
    }
    .learnmore,.fa-arrow-right{
        top: 20px !important;
        left: -60px !important;
    }

    .pagenumber{
        top: 170px !important;
        left: -1px !important;
      
    }

    /*Section Three*/
    

    .separator {

        width: 30%;
    }


    .sectionThree{
        height: 300px !important;
    }

    .TwoParagraph {
        padding-top: 9px;
        padding-bottom: -2px;
        height: 300px !important;
    }

    .TwoParagraph h1{
        font-size: 15px;
        line-height: 15px; 
    }
    
    .TwoParagraph p.details{
        font-size: 6px !important;
        line-height: 7px;   
        padding-top: 3px; 
   
    }


    /*Section Four */

    .sectionFour  .separator {
        margin-top: 60px;
        font-size: 10px;
        width: 60%;
    }

    /*Section Six */
    div.sectionSix {
        margin-top: 0% !important;
    }

    .sectionSix h1.choose{
        margin-top: 1%  !important;
        padding-top: 12%;
        font-size: 27px;   
        line-height: 30px;
        
    }
    .sectionSix p.ideal{
        font-size: 27px;
        line-height: 30px;
    }
    
    .sectionSix p.details{
        padding-top: 12px;
  
       
    }

    /*Section Seven */
    .OneSectionSeven div{
        top: -50px !important;
        padding: 2px;
     }
 
    /* Section Eight */

    .sectionEight{
        padding-top:20px;
     }
 
    .sectionEight .separator {
        text-align: right;
        font-size: 10px;
        height: 1em;
        width: 50%;
    }

}

/*Nest Hub  */
@media (min-width: 1020px) and (max-width: 1024px) {
    .sectionTwo span.content{
        left: 90px;
        top: 200px;
        font-size: 60px;
    }
       
    .details{
        top: 250px;
        left: 0px;
        font-size: 30px;
       
    }
    .learnmore,.fa-arrow-right{
        top: 360px;
        left: -15px;
    }

    .pagenumber{
        top: 500px;
        left: 20px;
        font-size: 10px; 
    }

    /*Section Three*/
    .One{
        padding-top: 50px;

    } 

    .separator {
  
        width: 30%;
    }


    .TwoParagraph {
        padding-top: 9px;
        padding-bottom: -2px;
    }

    .TwoParagraph h1{
        font-size: 20px;
        line-height: 30px; 
    }
    
    .TwoParagraph p.details{
        font-size: 15px;
        line-height: 19px;   
        padding-top: 3px; 
    
    }

    /*Section Four */


    .sectionFour  .separator {
        margin-top: 60px;
        font-size: 10px;
        width: 30%;
    }

    /*Section Six */
    div.sectionSix {
        margin-top: 0% !important;
    }

    .sectionSix h1.choose{
        margin-top: 1%  !important;
        padding-top: 12%;
        font-size: 31px;   
        line-height: 30px;
        
    }
    .sectionSix p.ideal{
        font-size: 32px;
        line-height: 30px;
    }
    
    .sectionSix p.details{
        padding-top: 12px;
  
       
    }
 
    /* Section Eight */

    .sectionEight{
        padding-top:20px;
     }
 
    .sectionEight .separator {
        text-align: right;
        font-size: 15px;
        height: 1em;
        width: 30%;
    }

}



/*  Nest Hub Max */
@media (min-width: 1280px) and (max-width: 1281px) {
    .sectionTwo span.content{
        left: 90px;
        top: 350px;
        line-height: 80px;
        font-size: 90px;
    }
       
    .details{
        top: 430px;
        left: 0px;
        font-size: 30px;
       
    }
    .learnmore,.fa-arrow-right{
        top: 500px;
        left: -1px;
    }

    .pagenumber{
        top: 700px;
        left: 50px;
        font-size: 15px; 
    }

    /*Section Three*/
    .One{
        padding-top: 50px;

    } 

    .separator {
  
        width: 30%;
    }

    .Two{

        height: 500px !important;
    }


    .TwoParagraph {
        padding-top: 9px;
        padding-bottom: -2px;
    }

    .TwoParagraph h1{
        font-size: 40px;
        line-height: 30px; 
    }
    
    .TwoParagraph p.details{
        font-size: 23px;
        line-height: 19px;   
        padding-top: 12px !important; 
        padding-right: 12px !important;
    }

    /*Section Four */


    .sectionFour  .separator {
        margin-top: 60px;
        font-size: 10px;
        width: 30%;
    }

    /*Section Six */
    div.sectionSix {
        margin-top: 0% !important;
    }

 
    
    .sectionSix p.details{
        padding-top: 12px;
  
       
    }
 
    /* Section Eight */

    .sectionEight{
        padding-top:20px;
     }
 
    .sectionEight .separator {
        text-align: right;
        font-size: 15px;
        height: 1em;
        width: 30%;
    }

   

}